#show-account-info{
  display: none;
}

.container {
  background-color: lightblue;
}



.contact {
  cursor: pointer;
  color: purple;
}

.contact:hover {
  text-decoration: underline;
}


body {
  /*background-color: beige;*/
  color: maroon;
}

h1 {
  color: teal;
}

h2 {
color: black;
}

#catbalance {
  display: none;
}
